/*New Styles*/
.box-homepage-welcome {
	position: relative;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 4% 10% 10% 10%;
	background: #ffffff;
	z-index: 1;
}

.box-homepage-welcome::before {
	position: absolute;
	content: '';
	top: 12px;
	right: 12px;
	bottom: 12px;
	left: 12px;
	border: 1px solid #e1e1e1;
	background: transparent;
	will-change: transform;
	pointer-events: none;
	transition: inherit;
	z-index: -1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-homepage-welcome-content {
	margin: 0 auto;
}

.box-homepage-welcome-title {
	font-weight: 400;
	letter-spacing: .02em;
	text-align: center;
}

.box-homepage-welcome-list {
	letter-spacing: .025em;
}

.box-homepage-welcome-list a,
.box-homepage-welcome-list a:focus,
.box-homepage-welcome-list a:active {
	color: inherit;
}

@media (min-width: 992px) {
	.box-homepage-welcome {
		padding-right: 100px;
		padding-left: 100px;
	}
}

/* Header Styles */
header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 80px;
	padding: 10px;
}

nav {
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7%;
}

nav > span {
	display: none;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li a {
	font-size: 19px;
	color: white;
	text-decoration: none;
	margin-right: 20px;
	transition: color 0.5s;
}

ul li a:hover {
	color: crimson;
}

.search {
	display: none;
}

.content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.content h1 {
	margin-bottom: 15px;
	color: green;
}

.content p {
	font-size: 18px;
	color: grey;
}

/* Make Responsive */

/* Mobile Styles */
@media screen and (max-width: 600px) {
	.box-homepage-welcome {
		padding: 4% 5%;
	}

	nav > span {
		display: block;
		position: absolute;
		line-height: 80px;
		left: 20px;
		font-size: 30px;
		color: white;
		text-align: center;
		cursor: pointer;
		transition: 0.5s;
	}

	nav > span:hover {
		color: crimson;
	}

	ul {
		position: absolute;
		top: 80px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color:
